<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Send a booking request</h3>
        <%= simple_form_for [book, booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%# <button data-action="click->toggle#bookingRequest" class="btn btn-outline-primary">Send a booking request</button> %>
          <%= f.submit %>
          </div>
          <%= link_to "Back to books", book_bookings_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
