<div class="container py-5" style="margin-top: 90px">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
        <h2 class="mb-3" >Send a booking request</h2>
      <div class="bg-white rounded-custom p-3 shadow">
        <%= simple_form_for [book, booking], html: { data: { controller: "datepicker" } } do |f| %>
        <%= f.input :start_date, as: :hidden, input_html: { data: { datepicker_target: "startDateInput" } } %>
        <%= f.input :end_date, as: :hidden, input_html: { data: { datepicker_target: "endDateInput" } }%>
        <%= f.input :range, label: "Select a range of dates" do %>
          <%= text_field_tag :range, nil, data: { datepicker_target: :range }, class: "form-control" %>
        <% end %>
        <%= f.button :submit, 'Send request', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
