<div class="container my-5">
  <h2 class="mb-4">Your Books</h2>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card-dashboard h-100">
        <%= image_tag(book.photo.attached? ? cl_image_path(book.photo.key) : 'book_background.png', class: "card-img-top card_img") %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text"><%= book.status %></p>
            <%= link_to 'View Book', book_path(book), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h2 class="mb-4">The Books I Borrowed</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="card-dashboard h-100">
          <%= image_tag(booking.book.photo.attached? ? cl_image_path(booking.book.photo.key) : 'book_background.png', class: "card-img-top card_img") %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.book.title %></h5>
            <%= link_to 'View Book', book_path(booking.book), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
