<div class="banner">
  <div class="container">
    <h1><strong>Find books and borrow from neighbors</strong></h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8 ps-0">
      <div class="cards-container">
        <% @books.each do |book| %>
          <div class="book-card ms-2 mb-3">
          <%= link_to book_path(book), style:"text-decoration: none; color: black" do %>
            <div class="book-card-inner">
              <div class="book-card-front">
                <%= image_tag (book.photo.attached? ? cl_image_path(book.photo.key) : 'book_background.png'), class: "rounded", style: "width: 100%; height: 300px; object-fit: cover;" %>
                <h5 class="card-title ms-3 mt-3"><%= book.title %></h5>
                <p class="card-text ms-3 mt-1">By <%= book.author %></p>
              </div>

              <div class="book-card-back">
                <div class="text-center pt-4 ps-3 pe-3 pb-4">
                <p><%= book.summary %></p>
                </div>
              </div>
            </div>
          <%end %>
          </div>
        <% end %>
      </div>


    </div>
    <div class="col-4 mt-3 pe-0">
      <div class="sticky-top">
        <div style="width: 100%; height: 600px; border-radius: 8px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<%#
<div class="cards-container">
  <div class="cards">
  </div>
  </div>
<div></div> %>
