 <div class="container mt-5">
        <!-- Book Top Section -->
        <div class="row">
            <div class="col-md-4">
                <!-- Image Placeholder -->
                <img src="https://m.media-amazon.com/images/I/61QTHD3+nSL._SY522_.jpg" alt="Book Cover" class="img-fluid image-crop">
            </div>
            <div class="col-md-8">
                <h2><%= @book.title %></h2>
                <p>by <%= @book.author %></p>
                <!-- Send Request Button Placeholder -->
                <button type="button" class="btn btn-primary">Send request</button>
            </div>
        </div>

        <!-- Book Details Section -->
        <div class="detail-separator"></div>
        <div class="row">
            <div class="col">
                <h3>Details</h3>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Author:</strong> <%= @book.author %></li>
                  <li class="list-group-item"><strong>Editor:</strong> <%= @book.editor %></li>
                  <li class="list-group-item"><strong>Publication year:</strong> <%= @book.year %></li>
                  <li class="list-group-item"><strong>ISBN:</strong> <%= @book.isbn_number %></li>
                  <li class="list-group-item"><strong>Status:</strong> <%= @book.status %></li>
                </ul>
            </div>
        </div>

        <!-- Book Summary Section -->
        <div class="detail-separator"></div>
        <div class="row">
            <div class="col">
              <h3>Summary</h3>
              <p class="book-summary"><%= @book.summary%></p>
            </div>
        </div>
    </div>


<%= link_to "Back to books", books_path %>
<%= link_to "Edit book", edit_book_path %>
<%= link_to "Delete book", book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
